# [ ? age ] base64=YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPck0yLzgyTy9WNXk0WnBKTWVCR2E5K1FwRHNkaGNaS2dpbTJyeTVrZlUwCk15VHdZQmNjU0R1bU03UXJvSDMreGp4Skl5TzQ3czYrT0hMZlJYelEvYzgKLS0tIG4ydkdQUmNWcnEvRHlrL3lSQm1GbHFUaW9HVDVLM2FzRVl3Uk1oSkE2SzAKvLFolbv2pAe1brBb/3n80XhsptZwvpkC049wjJKJDPepVWyh3FFM7h54oWEkjITjgimLxNcj6OvyJep8jcKq2s3IMWIA0oSIXeOf3SGGzf3iGnllSy5+6bSCZpgcNob0VawIA84EzMo=
[init]
  defaultBranch = main
[push]
  default = current
[color]
  ui = auto
[core]
  excludesfile = ~/.config/git/gitignore
  autocrlf = input
[merge]
  ff = only
[fetch]
  prune = true
[rebase]
  autosquash = true
[diff]
  colorMoved = zebra
